directory-team-single-person @mitchhentgesspotify-webhook-review-test/team-single-person
directory-team-multi @mitchhentgesspotify-webhook-review-test/team-multi
directory-both @mitchhentgesspotify-webhook-review-test/team-single-person @mitchhentgesspotify-webhook-review-test/team-multi
